@media (min-width:1200px) {
  .container {
    max-width:1140px;
    text-align:center;
    padding:40px;
  }
}

@media (min-width:576px) {
  .jumbotron {
    padding:4rem 2rem;
    text-align:left;
    background-image:url(../../static/img/desk.jpg);
    background-repeat:no-repeat;
    background-size:cover;
  }
}

.text-center {
  text-align:center!important;
  font-size:xx-large;
}

img {
  vertical-align:middle;
  border-style:none;
  margin-top:5%;
  margin-left:5%;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display:block;
}

.h1, h1 {
  font-size:2.5rem;
  padding-top:1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom:.5rem;
  font-family:inherit;
  font-weight:500;
  line-height:initial;
  color:inherit;
}

.img-thumbnail {
  padding:.25rem;
  background-color:#fff;
  border:1px solid #dee2e6;
  border-radius:.25rem;
  max-width:100%;
  height:auto;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color:#fff;
  background-color:#0062cc;
  border-color:#005cbf;
  margin-top:5%;
}

