<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/css/Article-List.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/css/Footer-Dark.css">
    <link rel="stylesheet" href="static/css/Highlight-Blue.css">
    <link rel="stylesheet" href="static/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/css/Simple-Slider.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Team-Clean.css">
    <link rel="stylesheet" href="static/css/Testimonials.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md fixed-top bg-dark navigation-clean">
            <div class="container"><a class="navbar-brand text-white" href="#">CoStudy</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link text-white active" href="/">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/sign-up">Sign Up</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="jumbotron">
        <h1>About Us</h1>
        <p><br>CoStudy is a &nbsp;collaborate learning platform where everyone around the world is your study mate.This platform allows for questions to be asked in any field of education with answers being provided once it is seen by a study mate. &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; We as partners of CoStudy realized the need for collabprate
            studying as we ourselves are students<br><br></p>
        <p><a class="btn btn-primary" role="button" href="#">Learn more</a></p>
    </div>
    <div class="team-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">The Team</h2>
                <p class="text-center"><br>The breakdown into the profiles of the amazing people behind CoStudy.<br><br></p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="static/img/IMG-20180717-WA0006.jpg">
                    <h3 class="name">Kwadwo Asamoa</h3>
                    <p class="title">Musician</p>
                    <p class="description"><br>Kojo Asamoa is an enthustiastic student of the University of Ghana in level 300 studying Information Techonology.He aims at&nbsp;<br>improving the technological world</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="static/img/PhotoGrid_1479809065625.png">
                    <h3 class="name">Anna Atuahene</h3>
                    <p class="title">Artist</p>
                    <p class="description"><br>Anna Atuahene, the only female of the team is very passionate about women in STEM. She therefore aims to break the feminine barrier in relation to women in technology<br><br></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="static/img/IMG-20180717-WA0005.jpg">
                    <h3 class="name">Perry Larstey</h3>
                    <p class="title">Stylist<br></p>
                    <p class="description"><br>Perry Lartsey is a &nbsp;Computer Engineering Student at the Universit of Ghana in level 300. He is &nbsp;conservative student who has a great passion for technology especially ,the field of engineering<br><br></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/index">Home</a></li>
                <li class="list-inline-item"><a href="/post">Services</a></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="static/js/Simple-Slider.js"></script>
</body>

</html>