<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoStudy</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/css/Article-List.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/css/Footer-Dark.css">
    <link rel="stylesheet" href="static/css/Highlight-Blue.css">
    <link rel="stylesheet" href="static/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/css/Simple-Slider.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Team-Clean.css">
    <link rel="stylesheet" href="static/css/Testimonials.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-dark navigation-clean">
        <div class="container"><a class="navbar-brand text-white" href="/">CoStudy</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" placeholder="Search " id="search-field"></div>
                </form>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link text-white active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/profile">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/about">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-white" href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Trending Posts</h2>
            <p class="text-center">These include the trendiest and most searched topics from students all over the world</p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/img/desk.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">Software engineering</h3>
                        <p class="description"><br>Artificial intelligence systems perform some tasks better than humans. That’s a fact.&nbsp;In our hospitals, for example, AI systems are being used in medical imaging to analyse images scans to help radiologists to diagnose
                            tumours that the human eye can miss.<br>link:https://www.rte.ie/eile/brainstorm/2018/0717/979219-why-ai-will-not-outsmart-us/</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/img/building.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">Computer Science/<br>Firewalls and antivirus software aren’t that important<br><br></h3>
                        <p class="description"><br>Most of today’s threats are client-side threats, initiated by the end-user. This means they are already past all the firewalls (e.g., network or host) that were put in their way to prevent them from reaching the user’s desktop.
                            Once a threat is there, firewalls provide very little value.<br>https://www.csoonline.com/article/3239644/data-breach/5-computer-security-facts-that-surprise-most-people.html<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/img/3.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">Evolution of Man</h3>
                        <p class="description"><br>My personal opinion of humans on earth isthat we happened to just appear on the surface of the earth from another planet after the meteorite wiped out all the dinasaurs.Just my thoughts though :)<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/img/2.jpg"></a></div>
                    <div class="col">
                        <h3 class="name">Psychology of Cats</h3>
                        <p class="description"><br>Cats are a very strange group of feline.I just discovered they purr to confuse humans that they're communicating amongst themselves but rather a mechanism to confuse us<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <div class="container"></div>
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/post">Services</a></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="static/js/Simple-Slider.js"></script>
</body>

</html>